@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo-image h1{
    height: 40px !important;
    font-size: 30px;
}

.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: end;
}
.nav-items ul .li{
    list-style: none;
    text-decoration: none;
    
    /* background: #000; */
}

.nav-items ul .li:hover{
    background: #581A0D;
    color: #fff;
}



.food-card, .load-card{
    width: 250px;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    /* height: 300px; */
}
.food-card img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
.food-con, .load-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.load-card{
    background: #f0f0f0;
    height: 200px;
    
}
.text-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    height:60px;
}
.food-bar{
    position: sticky;
    width: 100%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.search-bar {
    width: 40vw;
    /* margin: 5px; */
    padding: 10px;
    padding: 2px;
    background: #fff;

    border: 2px solid rgba(40, 44, 63, .2);
}
.dishes-cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 0px 16px 16px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.rest-detils-card{
    width: 100%;
    margin: 10px;
    padding: 5px;
    background-color: rgb(222, 209, 209);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}

.avg-text{
    display: flex;
    margin: 20px 10px;
}
.avg-text li {
    margin-left: 10px;
}
.cuisines-text{
    display: flex;
    margin: 0 10px;
    text-decoration:underline;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: rgb(255, 82, 0);
}

.food-link{
    text-decoration: none;
    color: #000;
}
.food-link:hover{
    color: #5f02eb;
}

.active{
    color: #e63953;
}
.veg-data{
    color: green;
    display: absolute;
}
.veg-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.comingsoon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}